#app {
    display: flex;
    flex-wrap: wrap;
}

.sailings-container {
    flex-basis: 50%;
    padding: 10px;
    width:800px;
    height:70px;
    margin-bottom: 30px;
}

.map-container {
    flex-basis: 50%;
    padding: 30px;
    width:800px;
    height:700px;
}

.itins-container {
    margin: 20px;
    margin-top: 60px;
    width:500px;
    height:100px;
    flex-basis: 50%;
}

.marker-wrap {
    position: relative;
    z-index: 2;
    display: block;
    font-size: 14px;
    font-family: 'Dosis','Arial','Helvetica',sans-serif;
    font-weight: 600;
}

.itins-table{
    margin-top:150px;
    width:500px;
    height:150px;
}

.my-div-icon {
    position: absolute;
    top: 0;
    left: 0;
    background: #3ea2f7;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    margin-top: -2px !important;
    margin-left: 2px !important;
}

.my-div-icon .marker-wrap::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #3ea2f7 transparent transparent transparent;
    margin-top: -7px;
}

.map-marker{
    transform: translate(-50%, -50%) translate(515px, 440px);
}

